*{
    margin:0px;
    font-family:Arial;
    border:border-box;
}
.navbar{
    height:60px;
    background-color:#0f1111;
    color:white;
    display:flex;
    align-items:center;
    justify-content: space-evenly;

}
.nav-logo{
    height:50px;
    width:100px;
}
.logo{
    background-image:url("amazon.jpg");
    background-size: cover;
    height:50px;
    width:100%;

}
.border{
    border:1.5px solid transparent;

}
.border:hover{
    border:1.5px solid  white;
}
/*box2*/
.first{
    color:#cccccc;
    font-size: 0.8rem;
    margin-left:14px;
}
.second{
    color:#cccccc;
    font-size: rem;
    margin-left:3px;

}
.navloc-img{
    display:flex;
    align-items:center;
}

/*box3*/
.navsearch{
    display:flex;
    justify-content: space-evenly;
    background-color: red;
    width:600px;
    height:39px;
    border-radius:4px;
}
.searchselect{
    background-color: #f3f3f3;
    width:50px;
    text-align:center;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border:none;
    
}
.searchinput{
    width:520px;
    font-size:1rem;
    border:none;
}
.search-icon{
    width:45px;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:1.2rem;
    background-color:#febd68 ;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/**box4**/
.hello-sign{
    font-size:0.85rem;
}
.account{
    font-weight:700;
}

.cart-logo i{
    font-size:30px;

}
.Returns{
    font-size:0.85rem;
}
.orders{
    font-weight:700;
}
.navsearch:hover{
    border:2px solid rgb(245, 179, 55);
}
.cart-logo{
    font-size:0.85rem;
    font-weight:700;
}
/**box 1**/
.panel{
    height:40px;
    background-color:#222f3d;
    display: flex;
    color:white;
    align-items:center;
    justify-content:space-evenly;
}
.panel-options p{
    display:inline;
    margin-left:15px;
}
.panel-options{
    width:70%;
    font-size:0.85rem;
}
.panel-deals{
    font-size:0.9rem;
    font-weight:700;
}
/**hero**/
.hero{
    background-image:url("background_img.jpg");
    background-size:cover;
    height:350px; 
    display:flex; 
    justify-content:center;
    align-items:flex-end;
}
.message{
    background-color:white;
    color:black;
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:0.85rem;
    width:80%;
    margin-bottom:25px;
}
.message a{
    color:#007185;
}
/**shop**/
.shopsec{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-color:#e2e7e6;
}
.box {
    height:250px;
    width:24%;
    background-color:white;
    padding:20px 0px 15px;
    margin-top:10px;
    margin-bottom:10px;
}
.box-image{
    height:200px;
    background-size: cover;
}
.box-content{
    margin-left:1rem;
    margin-right:1rem;
}
.box-content p{
    color:#007185;

}
footer{
    margin-top:10px;
    background-color:
}
.foot1{
    height:60px;
    background-color:#37574a;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:0.85rem;
}
.foot2{
    height:300px;
    background-color:#222f3d;
    color:white;
    display:flex;
    justify-content:space-evenly;
}
ul{
    margin-top:20px;
}
ul a{
    display:block;
    text-decoration:none ;
    margin-top:12px;
    color:#dddddd;
}
.foot{
    background-color:#222f3d;
    color:white;
    border-top:0.5px solid white;
}